@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts
{
    <script>
        //Initialize SignalR
        var connection = new signalR.HubConnectionBuilder()
            .withUrl('https://localhost:44367/chatHub')
            .build();

        connection.on('ReceiveMessage', renderMessage);
        connection.start();

        function renderMessage(name, time, message) {

        }

        alert()
    </script>
}